{% extends 'base.html' %}
{% block content %}

<section class="admin-dashboard">

  <h2 class="dashboard-title">✉️ Contact Details List</h2>

  {% if contacts|length == 0 %}
    <p class="no-data">No contact submissions yet.</p>
  {% else %}

  <div class="table-wrapper">
    <table class="contact-table">
      <thead>
        <tr>
          <th>Sr.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Message</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
        {% for c in contacts %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ c.Name }}</td>
          <td>{{ c.Email }}</td>
          <td>{{ c.Phone }}</td>
          <td class="message-cell">{{ c.Message }}</td>
          <td>{{ c.Date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

 

  {% endif %}
  <br>
  <a href="/download-contacts" class="btn">
    Download Excel
  </a>
</section>

{% endblock %}

